@font-face {
  font-family: "iconfont"; /* Project id 2935587 */
  src: url('../fonts/font_2935587_97eo1d0furr01.woff2') format('woff2'),
       url('../fonts/font_2935587_97eo1d0furr02.woff') format('woff'),
       url('../fonts/font_2935587_97eo1d0furr03.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e6af";
}

.icon-guanyuruanjian:before {
  content: "\e607";
}

.icon-youxiang1:before {
  content: "\e60c";
}

.icon-dianhua:before {
  content: "\e612";
}

.icon-dianhua1:before {
  content: "\e614";
}

.icon-gengduo:before {
  content: "\e67c";
}

.icon-iconzhengli-:before {
  content: "\e60e";
}

.icon-guanyuwomen:before {
  content: "\e691";
}

.icon-shouye:before {
  content: "\e618";
}

.icon-gengduo1:before {
  content: "\e611";
}

.icon-huabanfuben:before {
  content: "\e692";
}

.icon-shouye1:before {
  content: "\e608";
}

.icon-gengduo2:before {
  content: "\e622";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-gengduo3:before {
  content: "\e610";
}

.icon-guanyu:before {
  content: "\e60d";
}

.icon-wodeyouxiang:before {
  content: "\e600";
}

.icon-shouye2:before {
  content: "\e6c7";
}

.icon-weixin1:before {
  content: "\e609";
}

.icon-dianhua2:before {
  content: "\e817";
}
