h2{font-size:22px;color:black;font-family: "宋体"; text-align: center;}
h5{font-size: 18px;color:darkgray;font-family: 宋体;line-height:30px; text-align: center;}
#hj{font-size:12px; line-height: 10;text-align: center;}
#l{color:red}
#c{text-indent: 2em;font-size: 14px arial;color:#000000;font-family: "宋体";line-height: 25px;}
#g{text-indent: 2em;}
div{margin:auto;width: 800px;border: 2px solid gainsboro;}
