@font-face {
  font-family: "iconfont"; /* Project id 2464401 */
  src: url('iconfont.woff2?t=1626911006655') format('woff2'),
       url('iconfont.woff?t=1626911006655') format('woff'),
       url('iconfont.ttf?t=1626911006655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-seach:before {
  content: "\e61c";
}

.icon-lu:before {
  content: "\e620";
}

.icon-icon-prev:before {
  content: "\e607";
}

.icon-icon-prev-copy:before {
  content: "\e7a7";
}

.icon-kongxing:before {
  content: "\e64b";
}

.icon-xing_xu-banxing:before {
  content: "\e62e";
}

.icon-bankexingxing:before {
  content: "\e61d";
}

.icon-pinglunbankexingxing-copy:before {
  content: "\e605";
}

.icon-location1:before {
  content: "\e600";
}

.icon-jiuba:before {
  content: "\e699";
}

.icon-fangdajing:before {
  content: "\e754";
}

.icon-zuanshi:before {
  content: "\e628";
}

.icon-huochepiao:before {
  content: "\e614";
}

.icon-fenshijuan:before {
  content: "\e654";
}

.icon-cat:before {
  content: "\e601";
}

.icon-yiliaojigou:before {
  content: "\e642";
}

.icon-liren:before {
  content: "\e64c";
}

.icon-jiudian:before {
  content: "\e7a6";
}

.icon-qinzi:before {
  content: "\e606";
}

.icon-shenghuofuwu:before {
  content: "\e631";
}

.icon-huaban1fuben6:before {
  content: "\e789";
}

.icon-yule1:before {
  content: "\e64d";
}

.icon-triangle-left-copy:before {
  content: "\e602";
}

.icon-meishi:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e604";
}

.icon-jianshenfang:before {
  content: "\e64f";
}

.icon-waimai:before {
  content: "\e60f";
}

.icon-jiazhuang:before {
  content: "\e616";
}

