/*标题*/#bt {
	font-size: 18;
	color: coral;
}

/*超链接样式*/a {
	text-decoration: none;
	color: black;
}
/*鼠标划过后的状态*/a:hover{
	color: #FF7F50;
	text-decoration: underline;
}
/*图片*/#t{
	background-image: url(../img/12.jpg);
	background-repeat: no-repeat;
	}
/*鼠标放上去图的状态*/#t:hover{background-image:url(../img/10.jpg);}
/*div下a标签缩进2个字符*/ol a{margin-left: 2em;}

