*{margin: 0;padding:0;font-size:px;font-family: 宋体;}
.zongti{ width: 950px;height: 730px;padding-top: 30px;
margin: 0 auto;}
a {
	text-decoration:none;
	color:#666;
}
a:hover {
	text-decoration:underline;
}

/*头部*/
h2{font-size: 30px;}
.top{display:inline-block;}
.zongti_1 h2,em,ul{margin-left: 50px;}
li {list-style-type: none;
	border:1px solid #ccc;
	padding: 10px;
	float:left;}
.zongti_1 nav {font-size: 12px;
	width:100%;
	border-bottom:1px solid #ccc;
	margin-top:30px;
	overflow: hidden;}
							/*头部*/
/*身体*/
h3{font-size: 16px;}
.center{margin-left:50px;margin-top: 30px;width: 500px;float: left;}
.center_1{border:1px solid #ccc;
	padding:5px 10px;
	margin-bottom:10px;}
	
.center_2{}
.center_3{border:1px solid #ccc;padding:10px 0 10px 10px;}
.center_4{line-height: 1.8;}
.center_5{}
.center_6{border:1px solid #ccc;line-height: 2.8; padding-left: 10px;}
.center_6 p{font-size:30px;}
.center_right{width:300px;height: 485px;float: right; border: 1px solid #ccc;padding: 15px;
margin-right: 25px;margin-top:30px;line-height: 25px;}
.center_right a{font-size: 14px;}
							/*身体*/
/*底部*/
.bottom{clear: both;margin-top:580px;width: 100%;height: 30px;
border-top:1px solid #ccc;}
.bottom p{text-align: center;padding-top: 5px;color: #666666;}
							/*底部*/
.center_1,.center_2,.center_4,.center_5{font-size:12px}
.center_6 h3,.center_right h3{color: #666666}
